.completed_projects{
    max-width: 80%;
    margin: 0 auto;
}
.completed_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.completed_container > div{
    background: #F9FAFB;
    width: 360px;
    margin-left: 40px;
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}
.completed_container img{
    width: 300px;
    height: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    border-radius: 10px;
}
.completed_container > div p:not(.gray_text){
    font-weight: 600;
    font-size: 20px;
    margin-top: 22px;
    margin-bottom: 12px;
}
.completed_container a{
    margin-bottom: 30px;
}

.completed_projects button{
    background: url('../img/btn_inst.png');
    width: 500px;
    height: 80px;
    background-size: 110% 110%;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    background-position: 25% 75%;
    margin-bottom: 20px;
    box-shadow: inset 10px 10px 18px rgb(255 255 255 / 34%);
    border-radius: 49px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 60px;
}
.completed_projects a{
    color: #84C57A;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 15px;
}
.completed_projects a::after{
    content: url('../img/completed_projects/Arrow.png');
    padding-left: 10px;
}
@media screen and (max-width: 750px){
    .completed_container > div{
        margin-left: 0;
    }
    .completed_projects button{
        width: 300px;
    }
}
@media screen and (max-width: 750px){
    .completed_projects button{
        width: 250px;
    }
}