header{
    max-width: 70%;
    margin: auto;
}
header .social_media{
    margin-top: 19px;
}
header .social_media div{
    width: 43px;
    height: 43px;
    background-color: #F3AC62;
    border-radius:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Request-call{
    background: url('../img/header/Rectangle.png');
    height: 50px;
    width: 170px;
    border: 0px;
}
header .main_header{
    height: 92px;
    display: flex;
    justify-content: space-between;
}
header .main_header .social_media{
    display: flex;
}
.main_header{
    margin: 0 auto;
}
header .logo{
    font-weight: 600;
    font-size: 21px;
    margin-top: 34px;
}
header .logo span{
    color: #84C57A;
}
.company {
    font-weight: 500;
    font-size: 14px;
    color: #96ABBE;
    margin-top: 24px;
}
header .contacts p:first-child{
    margin-top: 19px;
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}
header .contacts p:last-child{
    color: #96ABBE;
    font-weight: 500;
    font-size: 14px;
}
header .Request-call{
    color: #FFF;
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 19px;
}
header .line{
    border: 1px solid #DDE3ED;
}
header .menu a , .nav .menu a{
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    color: #333333;
}
header .menu ul , .nav .menu ul{
    display: flex;
    justify-content: space-between;
    height: 63px;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header .menu ul li a.first::before{
    content:  url('../img/header/home_ico.png');
    margin-right: 12px;
    width: 13px;
}
header .menu ul li a:hover{
    color: #F2A250;
}
.submenu-link:after {
    content: url('../img/header/arrow.png');
    font-family: "FontAwesome";
    color: black;
    margin-left: 5px;
    position: relative;
    bottom: 2px;
}
.submenu {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 32%;
    top: 20%;
    z-index: 5;
    height: 300px !important;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
    margin: 45px 34px 51px 34px;
}
header .submenu{
    align-items:flex-start !important;
}
.submenu a {
    color: white;
    padding: 12px 15px;
    font-size: 13px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
}
.submenu-link:hover:after{
    content: url('../img/header/arrow2.png');
}

@media screen and (max-width: 1200px){
    header{
        max-width: 100%;
    }
}
@media screen and (max-width: 900px){
    .main_header .company{
        display: none;
    }
}
@media screen and (max-width: 700px){
    .main_header .social_media img{
        display: none;
    }
    .menu a{
        font-size: 8px !important;
    }
}
.nav-toggle{
    font-size: 22px;
    font-weight: 400;
    padding: 10px 45px;
    border-radius: 60px;
    background-color: #F1CDB3;
    border: 3px #FDDCC4 solid;
}

@media screen and (max-width: 500px){
    header .menu,header .contacts{
        display: none ;
    }
    .Request-call{
        background: url('../img/header/ring.png');
        height: 42px;
        width: 42px;
        position: relative;
        right: 50px;
        transform: translateY(20%);
    }
    header .Request-call p {
        display: none;
    }
}