.homes{
    background: url('../img/homes/background.png');
    height: 980px;
    background-repeat: no-repeat;
    max-width: 95%;
    margin: auto;
    border-radius: 10px;
    width: 100%;
    background-size: 100% 100;
    position: relative;
}
.homes .button_one{
    width: 470px;
    padding: 10px;
}
.homes > div{
    position: relative;
    left: 340px;
    top: 90px;
}
.ways-of-homes{
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ways-of-homes div{
    width: 30%;
}

.homes p:nth-child(1),.homes p:nth-child(2){
    text-align: left;
}
.homes p:nth-child(1) span.green{
    color: #84C57A;
}
.homes .two{
    font-size: 18px;
    color: #94ACBD;
    padding-bottom: 35px;
}
.homes .gray_cont .gray_text{
    font-size: 16px !important;
}
.homes .gray_cont{
    margin-bottom: 34px;
}
.homes .button_cont{
    justify-content: flex-start;
}
.ways-of-homes p{
    text-align: center !important;
    position: relative;
    top: 12px;
    padding-bottom: 20px;
}
.circle_wrapper img{
    width: 86px;
    height: 86px;
    margin-bottom: 72px;
}
.circle_wrapper{
    display: none;
    justify-content: center;
}
@media screen and (max-width: 1200px){
    .homes > div{
        position: static;
        display: flex;
        flex-direction: column;
    }
    .homes {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 900px){
    .circle_wrapper{
        display: flex;
    }
    .homes{
        background: url('../img/homes/backg_mobail.png') no-repeat;
        background-position: 50% 100%;
    }
    .homes p:nth-child(1), .homes p:nth-child(2) {
        text-align: center;
    }
}
@media screen and (max-width: 550px){
    .homes .button_one{
        width: 300px;
        left: 0;
    }
    .homes .button_cont{
        display: flex;
        justify-content: center;
    }
    .absolute_imgs img:nth-child(4){
        display: none;
    }
    .ways-of-homes > div{
        flex-basis: 40%;
    }
    .ways-of-homes > div img{
        margin: 0 auto;
    }
    .ways-of-homes{
        margin: 0 auto;
        justify-content: center;
    }
    .homes{
        text-align: center;
    }
    .homes {
       height: 1500px;
    }
    .gray_cont{
       margin: 0 auto;
       display: flex;
       justify-content: center;
    }
    .ways-of-homes > div:nth-child(odd) {
        position: relative;
        left: 15px;
    }
    .ways-of-homes > div:nth-child(even){
        position: relative;
        right: 15px;
    }
    .ways-of-homes > div p{
        width: 150px;
        margin: 0 auto;
    }
}