.how_we_work{
    max-width: 60%;
    margin: 0 auto;
}
.how_we_work > p{
    margin-top: 95px;
    margin-bottom: 30px;
}
.how_we_work .button{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
@media screen and (max-width: 900px){
    .what_can_we_do{
        display: none;
    }
}