.how_we_work{
    max-width: 60%;
    margin: 0 auto;
}
.how_we_work > p{
    margin-top: 95px;
    margin-bottom: 30px;
}
.how_we_work .button{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
@media screen and (max-width: 1100px){
    .how_we_work{
        max-width: 100%;
    }
}
@media screen and (max-width: 650px){
    .how_we_work .container {
        display: flex;
        flex-direction: column;
    }
    .how_we_work .container > div{
        margin: 0 auto;
    }
    .container p{
        width: 200px;
    }
    .container span{
        position: relative;
        left: 30px;
    }
}