.order_container{
   

}
.order_container .big_text{
    text-align: left;
    margin-bottom: 25px;
}
.order_container > div{
    background: url('../img/order_service_backg.png');
    height: 870px;
    background-repeat: no-repeat ;
    display: flex;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: space-around;
    max-width: 95%;
    margin: 0 auto;
}
.order_container .text{
    margin-top: 145px;
    display: flex;
    flex-direction: column;
}
.order_container div:first-child div{
    display: flex;
}
.order_container .order{
    margin-top: 170px;
}
.order_container div:first-child div img{
    height: 9px;
    position: relative;
    top: 5px;
    margin-right: 23px;
}
.order_container .gray_text:first-child{
    text-align: left !important;

}
.order_container p:last-child:not(.gray_text){
    text-align: left;
    width: 200px;
}

.order_container button::placeholder{
    color: #96ABBE;

}
.order_container .gray_text{
    text-align: left;
}
.order_container .order .gray_text{
    text-align: center !important;
}
.order_container .order{
    padding-top: 35px;
    margin-bottom: 40px;
}
.order_container .order p:nth-child(1){
    margin-top: 20px;
}
.last_input{
    border-radius:15px !important;
    height: 100px !important;
}
.order a::before{
    content: url('../img/clip.png');
    position: relative;
    right: 7px;
    top: 5px;
}
.order_container a{
    color: #84C57A;
    font-weight: bold;
    letter-spacing: 1px;
}
.order_container_button .order{
    margin-top: 100px;
}
@media screen and (max-width: 1100px){
    .order_container > div{
        max-width: 100%;
    }
}
@media screen and (max-width: 750px){
    .order_container{
        flex-direction: column;
        background: url('../img/backg_mobail_order.png');
        background-repeat: no-repeat ;
        background-size: 100% 100%;
        height: 100%;
    }
    .order_container .gray_text{
        text-align: center;
    }
    .order_container .big_text,
    .order_container p.big_text {
        text-align: center !important;
    }
    .order_container p:last-child:not(.gray_text){
        width: 300px;
    }
    .order_container div:first-child div {
        justify-content: center;
    }
    .order_container .order{
        margin: 0 auto;
    }
    .order_container .order{
        margin-bottom: 160px;
        margin-top: 30px;
    }
    .order_container div:first-child{
        text-align: center;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
    }

}
@media screen and (max-width: 750px){
    .order_container div:first-child img{
        float: right;
    }
    .order_container .text {
        margin-top: 0;
    }
    .sub_text img{
        display: none;
    }
}