.sub_header {
    background: url(../img/extension/backg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.manufacturers > div {
    flex-basis: 20%;
 }
 form .big_text {
     width: 600px;
 }
@media screen and (max-width: 750px){
    .manufacturers > div {
        flex-basis: 40%;
     }
    .sub_header {
        flex-direction: column;
        background: url(../img/extension/backg_mobail.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100%;
    }
    .big_text{
        font-size: 30px;
    }
}
.sub_header div:first-child p:last-child{
    padding: 0;
}