.sub_header {
    background: url(../img/backg_subheader.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.sub_header div:first-child p:last-child{
    border-radius: 10px;
}
.sub_header .big_text{
    text-align: left;
}
.sub_header .gray_cont {
    text-align: left;
    margin-top: 0 !important;
}
@media screen and (max-width: 750px){
    .sub_header .gray_cont,.sub_header .big_text{
        text-align: center;
    }
    .sub_header {
        background: url(../img/backg_mobail.png);
        background-repeat: no-repeat;
        height: 100%;
    }
    .calculate_cost .text{
        padding-top: 0 !important;
    }
    .calculate_cost .text .gray_text {
        margin-bottom: 0 !important;
    }
    .sub_header div:first-child p:last-child{
        padding: 0 0px;
        width: 300px;
    }
    .sub_header .big_text{
        font-size: 30px !important;
    }
}