.price{
    max-width: 60%;
    margin: 0 auto;
}
.price table tr td:first-child{
    border-right: 1px solid rgba(150, 171, 190, 0.1);
}
.price table{
    margin: 0 auto;
    border-spacing: 0;
    margin-bottom: 88px;
}
.price table tr td:first-child p{
    width: 580px;
}
form .big_text {
    width: 500px ;
}
.price table tr td:first-child {
    padding: 26px 10px;
    font-weight: 500;
    font-size: 16px;
}
.price table tr td:last-child {
    padding: 26px 130px;
    font-weight: 500;
    font-size: 18px;
}
.price table tr:nth-child(odd){
    background: #fafafa;
}
.price img{
    position: absolute;
    width: 328px;
    height: 361px;
    left: 80%;
    z-index: -999;
    top: 3597px;
}
@media screen and (max-width: 1350px){
    .price img{
        display: none;
    }
    .price{
        max-width: 100%;        
    }
    .price table tr td:first-child p{
        width: 330px;   
    }
}
@media screen and (max-width: 850px){
    .price table tr td:first-child,.price table tr td:last-child  {
        padding: 16px 30px;
    }
}
@media screen and (max-width: 600px){
    .price table tr td:first-child{
        border: 0;
    }
    .price table tr{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .price table tr td:last-child p{
        display: block;
        position: relative;
        top: -25px;
    }
}
@media screen and (max-width: 750px){
    .sub_header div:first-child p:first-child:not(.big_text){
        margin: 0 auto;

    }
    .sub_header div:first-child div{
        display: flex;
        margin: 0 auto;
    }
    .sub_header div:first-child div {
        width: 100%;
        padding-left: 0;
    }
}

