.reviews .manufacturers > div{ 
    flex-basis: 20%;

}
.reviews .manufacturers{
    justify-content: center;
}
.sub_header {
    background: url(../img/roof/backg.png);
}

@media screen and (max-width: 650px){
    .reviews .manufacturers > div{ 
        flex-basis: 40%;
    }
}
@media screen and (max-width: 750px){
    td span{
        color: #96ABBE;
    }
    .sub_header {
        flex-direction: column;
        background: url(../img/roof/backg_mobail.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100%;
    }
}